* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #00aaff, #00aa);
  transition: background-color 0.5s ease;
}
.main {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.head {
  display: flex;
  flex-direction: column;
  gap: 0px !important;
  background: #eee;
  padding: 20px 30px;
  border-radius: 8px;
  max-width: 50%;
  /* border: 2px solid rgb(15, 0, 0); */
  box-shadow: 3.4px 3.4px 2.7px rgba(0, 0, 0, 0.031),
    8.7px 8.7px 6.9px rgba(0, 0, 0, 0.044),
    17.7px 17.7px 14.2px rgba(0, 0, 0, 0.056),
    36.5px 36.5px 29.2px rgba(0, 0, 0, 0.069),
    100px 100px 80px rgba(0, 0, 0, 0.1);
}
.head_text {
  font-variant-caps: all-petite-caps;
}
.buttons {
  display: flex;
  gap: 50px;
}
.colorChanger,
.copyColor {
  outline: none;
  padding: 18px 36px;
  border-radius: 6px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}
.codeDetails {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 600;
}
@media only screen and (max-width: 630px) {
  /* code here */
  .head {
    max-width: 80%;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
